.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.selectedHeader {
  color: var(--primary);
  border-radius: 2px;
  border-bottom: 4px solid var(--primary);
}

.header :first-child {
  margin-right: 3em;
}

button {
  width: 6vw;
  height: 3vh;
  background: none !important;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
