.header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.header :first-child {
  margin-right: 3em;
}

.selectedHeader {
  color: var(--primary);
  padding-bottom: 0.5rem;
  border-radius: 2px;
  border-bottom: 6px solid var(--primary);
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 1rem 0;
}
