.goalsContainer {
  /*background: #00ffff;*/
  width: 100%;
  display: flex;
  flex-direction: column;
}

.goalRow {
  display: flex;
  align-items: center;
}

/* https://stackoverflow.com/a/44626004/379235 */
.goalRow input[type="checkbox"] {
  zoom: 3;
  margin-right: 1rem;
}

.goalRow span {
  font-size: 2rem;
  margin-right: 3rem;
}

.goalRow button {
  border: 1px solid var(--primary);
  width: 6rem;
  height: 2.2rem;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 1rem;
  color: var(--primary);
}

.messageContainer {
  margin-top: 4rem;
}

.goalsAllowed button {
  width: inherit;
  color: var(--primary);
}

.goalsAllowed .helpText {
  color: var(--gray);
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
