@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans-Regular.ttf"),
    url("./fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  src: local("OpenSans-Italic.ttf"),
    url("./fonts/OpenSans-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  src: local("OpenSans-Light.ttf"),
    url("./fonts/OpenSans-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  src: local("OpenSans-Bold.ttf"),
    url("./fonts/OpenSans-Bold.ttf") format("ttf");
}

:root {
  --primary: #6d57f1;
  --secondary: #000000;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration-line: none;
  color: var(--secondary);
}
